@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer loc
@model List<User>

<table class="table">
    <thead>
        <tr>
            <th>
                @loc["Name"]
            </th>
            <th>
                @loc["Email"]
            </th>
            <th>
                @loc["Number"]
            </th>
            <th>
                @loc["Balance"]
            </th>
        </tr>
    </thead>
    @foreach (var item in Model) 
    {
        <tr>
            <td>
                @item.UserName
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.UniqueNumber
            </td>
            <td>
                @item.Balance
            </td>
        </tr>
    }
</table>