@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer loc 
@model List<ControlWork9.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <form asp-action="Index" method="get">
                <th>
                    <label for="from">@loc["DateFrom"]</label>
                    <input class="form-control" name="from" type="datetime-local"/>
                </th>
                <th>
                    <label for="to">@loc["DateTo"]</label>
                    <input class="form-control" name="to" type="datetime-local" />
                </th>
                <th>
                    <button class="btn btn-primary">Фильтровать</button>
                </th>
            </form>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>
                @loc["From"]
            </th>
            <th>
                @loc["To"]
            </th>
            <th>
                @loc["Company"]
            </th>
            <th>
                @loc["Time"]
            </th>
            <th>
                @loc["Sum"]
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.UserFrom != null)
                {    
                    @item.UserFrom.UserName
                }
                else
                {
                    <p>@loc["Anonim"]</p>      
                }
            </td>
            <td>
                @if (item.UserTo != null)
                {
                    @item.UserTo.UserName
                }
            </td>
            <td>
                @if (item.Company != null)
                {
                    @item.Company.Name
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sum)
            </td>
        </tr>
}
    </tbody>
</table>
